.hero {
    position: absolute; /* Positions the element relative to its nearest positioned ancestor */
    left: 60%; /* Moves the element 60% from the left edge of the container */
    top: 150px; /* Moves the element 150px from the top edge */
    border-radius: 50%; /* Makes the element circular */
    z-index: 1; /* Places the element above others with lower z-index values */
    animation-name: floating; /* Defines the name of the animation */
    animation-duration: 3s; /* Animation lasts for 3 seconds */
    animation-iteration-count: infinite; /* Animation repeats infinitely */
    animation-timing-function: ease-in-out; /* Smooth transition at the start and end */
    height: 330px;
    width: 330px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px); /* Initial position */
    }
    50% {
        transform: translate(0, 20px); /* Moves 20px down */
    }
    100% {
        transform: translate(0, 0px); /* Returns to initial position */
    }
}

@media screen and (max-width: 943px) {
    .hero {
        display: none; /* Hides the element on smaller screens (<=943px) */
    }
}
